html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 56px;
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, div, footer {
    padding: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

.buttons-container {
    display: flex;
    justify-content: center;   /* center elements */
    gap: 1.5rem;               /* flexible gap between elements */
    flex-wrap: nowrap;         /* keep on one line */
    padding: 10px;
}

@media (min-width: 600px) {
  .buttons-container {
    justify-content: space-between; /* spread out fully */
    max-width: calc(250px * (3 - 1) + 100px * 3);
    margin: 0 auto;                  /* center the container */
    gap: initial;                   /* remove gap, spacing by space-between */
    width: 100%;                   /* full width to use space-between */
  }
}

#chart {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    height: auto;           /* match SVG height or desired height */
    /* transform: translateX(+10%); */
    margin-bottom: 100px;
}

.question_box {
    width:600px;
    height:auto;
    margin: 10px auto;
    margin-bottom: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    border-radius: 15px;
    background-color: wheat;
}

.btn1 {
    padding: 8px 16px;
    margin: 16px;
    font-size: 16px;
    cursor: progress;
}

.btn0 {
    border: none;
    background: none;
    cursor: pointer;
}

.btn0:hover {
    text-decoration: bold;
    color: blue;
}

.footer_wrapper {
    margin-top: auto;
    text-align: center;
    font-size: small;
    color: gray;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}

footer {
    margin-top: auto;
    text-align: center;
}